@import "tailwindcss";
@config "../tailwind.config.js";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-gray-900 transition-colors duration-200 font-sans text-[20px] leading-[30px] font-medium;
}

h1 {
  @apply font-sans font-semibold text-[48px] leading-[59px];
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-sans font-bold text-[28px] leading-[34px];
}

.animate-on-scroll {
  @apply opacity-0 translate-y-4 transition-all duration-700 ease-out;
}

.animate-on-scroll.is-visible {
  @apply opacity-100 translate-y-0;
}